
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <title>Bootstrap of purang</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/futurico/futurico.css" rel="stylesheet" charset="UTF-8"/>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
    <link href="/css/report.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css">
	<link rel="stylesheet" href="/css/prettify.css" type="text/css">
	<link href="/css/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<link rel="stylesheet" href="/css/popsuggest.css" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
	<script type="text/javascript" src="/js/prettify.js"></script>
	<script type="text/javascript" src="/js/purang-public-plugin.js"></script>
	<script src="/js/bootstrap-dialog.min.js"></script>	
	<script src="/js/purang-dialog-plugin.js"></script>	
	<script type="text/javascript" src="/ztree/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="/ztree/js/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript" src="/js/icheck.min.js"></script>
    <script type="text/javascript" src="/js/purang-select.js"></script>
    <script type="text/javascript" src="/js/popsuggest.js"></script>
	<style>
		.bootstrap-dialog .modal-dialog {
           	width: 400px;
           	transform: translate(0, 50%) !important;
			-ms-transform: translate(0, 50%) !important; /* IE 9 */
			-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
       }
	</style>
  </head>

  <body style="overflow-y:hidden;overflow-x:auto;margin:0;">
  	<div class="report-container">
	  	<table id="report" style="width:100%;height:100%;">
			<tr id="head-tr">
				<td style="height:2px;word-break:break-all;">
					<div id="reporthead" class="reporthead labelrowcolor">
						<div class="btn-group" data-toggle="buttons" id="pricetab">
					      
					    </div>
					    <div class="gapdiv">
					    	<div class="leftright-btns">
					    		<div class="report-left"></div>
					    		<div class="report-right"></div>
					    	</div>
					    	<div class="menu-glyphicon">
					    		<span class="glyphicon glyphicon-list" data-toggle="tooltip" data-placement="bottom" data-original-title="报表目录"></span>
					    		<div class="menu-div">
				                    <ul id="menu-list">
				                    </ul>
				                </div>
					    	</div>
					    </div>										
					</div>
				</td>
			</tr>
			<tr id="search-tr">
				<td style="height:2px;word-break:break-all;">
					<form id="searchform">
						
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<div class="wrapper ui dimmable" style="">	
						<div id="loading" class="row" style="height:100%;width:300px;margin:auto;">
							<div class="progress progress-striped active" style="position: relative;top: 40%;">
							  <div class="progress-bar progress-bar-striped"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							  </div>
							</div>
						</div>
						<iframe id="myId" name="myId" src="" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
					</div>
				</td>
			</tr>
		</table>
  	</div>
	<script src="/js/report-public.js"></script>
  	<script>
  		//$("#report").height($("#report").height());
  		var report = '$!report';
  		var queryString = '$!queryString';
		var reportPath = '$!reportPath';
		var employeeNo = '$!employeeNo';
		var orgs = '[{"a":"a"}]';
		if('$!orgs' != '') {
			orgs = '$!orgs';
		}
		var userType = '$!userType';
		var enterpriseId = '$!enterpriseId';
		
		var menuArr = [];
		if('$!permissionHelper.isVisible("Eba_PriceCollect")' == 'true') {
			menuArr.push({"name":"价格采集统计","href":"/eba_pricecollect.htm"});
		}
		if('$!permissionHelper.isVisible("Eba_PriceCollect_Dept")' == 'true') {
			menuArr.push({"name":"价格采集统计（部门）","href":"/eba_pricecollect_dept.htm"});
		}
		if('$!permissionHelper.isVisible("Eba_PriceAdvice")' == 'true') {
			menuArr.push({"name":"价格建议统计","href":"/eba_priceadvice.htm"});
		}
		if('$!permissionHelper.isVisible("Eba_PricePublish")' == 'true') {
			menuArr.push({"name":"价格发布统计","href":"/eba_pricepublish.htm"});
		}
		if('$!permissionHelper.isVisible("Eba_PriceFixedRef")' == 'true') {
			menuArr.push({"name":"定价参照","href":"/eba_pricereference.htm"});
		}
		if('$permissionHelper.isVisible("Eba_DeclareTrade_Check")' == 'true') {
			menuArr.push({"name":"申报交易率检查","href":"/Eba_DeclareTrade_Check.htm?excelname=申报交易率检查"});
		}
		if('$permissionHelper.isVisible("Eba_DayManage_Dynamic")' == 'true') {
			menuArr.push({"name":"日经纪动态","href":"/Eba_DayManage_Dynamic.htm?excelname=日经纪动态"});
		}
		if('$permissionHelper.isVisible("Eba_BillTrade_Statistical")' == 'true') {
			menuArr.push({"name":"票据交易统计","href":"/Eba_BillTrade_Statistical.htm?excelname=票据交易统计"});
		}
		if('$permissionHelper.isVisible("Eba_DayInventory")' == 'true') {
			menuArr.push({"name":"库存日报","href":"/Eba_DayInventory.htm?excelname=库存日报"});
		}
		if('$permissionHelper.isVisible("Eba_Inventory_Classify")' == 'true') {
			menuArr.push({"name":"库存分类统计","href":"/Eba_Inventory_Classify.htm?excelname=库存分类统计"});
		}
		if('$permissionHelper.isVisible("Eba_Peripheral_Bank")' == 'true') {
			menuArr.push({"name":"外设机构驻行统计","href":"/Eba_Peripheral_Bank.htm?excelname=外设机构驻行统计"});
		}
		if('$permissionHelper.isVisible("Eba_Rateoperate_Check")' == 'true') {
			menuArr.push({"name":"利率运营检查","href":"/Eba_Rateoperate_Check.htm?excelname=利率运营检查"});
		}
		if('$permissionHelper.isVisible("Eba_Accumulated_Occure")' == 'true') {
			menuArr.push({"name":"直贴累计发生","href":"/Eba_Accumulated_Occure.htm?excelname=直贴累计发生"});
		}
		if('$permissionHelper.isVisible("Eba_Bank_Attendance_Rate")' == 'true') {
			menuArr.push({"name":"协议行出勤统计","href":"/Eba_Bank_Attendance_Rate.htm?excelname=协议行出勤统计"});
		}
		if('$permissionHelper.isVisible("Eba_Plan_Completion_Check")' == 'true') {
			menuArr.push({"name":"计划完成率检查","href":"/Eba_Plan_Completion_Check.htm?excelname=计划完成率检查"});
		}
		if('$permissionHelper.isVisible("Eba_Manage_Business_Stat")' == 'true') {
			menuArr.push({"name":"经纪业务统计","href":"/Eba_Manage_Business_Stat.htm?excelname=经纪业务统计"});
		}
		if('$permissionHelper.isVisible("Eba_Detail_Rank")' == 'true') {
			menuArr.push({"name":"明细排名","href":"/Eba_Detail_Rank.htm?excelname=明细排名"});
		}
		if('$permissionHelper.isVisible("Eba_Completion_Rank")' == 'true') {
			menuArr.push({"name":"完成率排名","href":"/Eba_Completion_Rank.htm?excelname=完成率排名"});
		}
		if('$permissionHelper.isVisible("Eba_Income_Percent_All")' == 'true') {
			menuArr.push({"name":"收入率","href":"/Eba_Income_Percent_All.htm?excelname=收入率"});
		}
		if('$permissionHelper.isVisible("Eba_Busi_Expected_Compleat")' == 'true') {
			menuArr.push({"name":"业务预估完成统计","href":"/Eba_Busi_Expected_Compleat.htm?excelname=业务预估完成统计"});
		}
		if('$permissionHelper.isVisible("Eba_Rate_Estimate_Planchange_Dept")' == 'true') {
			menuArr.push({"name":"利率评估与计划调整","href":"/Eba_Rate_Estimate_Planchange_Dept.htm?excelname=利率评估与计划调整"});
		}
		if('$permissionHelper.isVisible("Eba_Rate_Estimate_BusiEarnchange")' == 'true') {
			menuArr.push({"name":"利率评估与计划调整月报","href":"/Eba_Rate_Estimate_BusiEarnchange.htm?excelname=利率评估与计划调整月报"});
		}
		if('$permissionHelper.isVisible("Eba_Intention_Change")' == 'true') {
			menuArr.push({"name":"意向转化统计","href":"/Eba_Intention_Change.htm?excelname=意向转化统计"});
		}
		if('$permissionHelper.isVisible("Eba_MonthCheck_BillManage_1")' == 'true') {
			menuArr.push({"name":"月检查表（按票类分）","href":"/Eba_MonthCheck_BillManage_1.htm?excelname=月检查表（按票类分）"});
		}
		if('$permissionHelper.isVisible("Eba_MonthCheck_BillManage_2")' == 'true') {
			menuArr.push({"name":"月检查表（按佣金分）","href":"/Eba_MonthCheck_BillManage_2.htm?excelname=月检查表（按佣金分）"});
		}
		if('$permissionHelper.isVisible("Eba_Night_Duty_1")' == 'true') {
			menuArr.push({"name":"晚值班表-纸票","href":"/Eba_Night_Duty_1.htm?excelname=晚值班表-纸票"});
		}
		if('$permissionHelper.isVisible("Eba_Night_Duty_2")' == 'true') {
			menuArr.push({"name":"晚值班表-电票","href":"/Eba_Night_Duty_2.htm?excelname=晚值班表-电票"});
		}
		if('$permissionHelper.isVisible("Eba_Night_Duty_3")' == 'true') {
			menuArr.push({"name":"晚值班表-商票","href":"/Eba_Night_Duty_3.htm?excelname=晚值班表-商票"});
		}
		if('$permissionHelper.isVisible("Eba_Branch_Business_Statistics")' == 'true') {
			menuArr.push({"name":"分公司业务统计","href":"/Eba_Branch_Business_Statistics.htm?excelname=分公司业务统计"});
		}
		if('$permissionHelper.isVisible("Eba_Bank_Business_Statistics")' == 'true') {
			menuArr.push({"name":"驻行业务统计表","href":"/Eba_Bank_Business_Statistics.htm?excelname=驻行业务统计表"});
		}
		if('$permissionHelper.isVisible("Eba_Branch_Income_Statistics")' == 'true') {
			menuArr.push({"name":"分公司创收统计表","href":"/Eba_Branch_Income_Statistics.htm?excelname=分公司创收统计表"});
		}

		if('$permissionHelper.isVisible("ChartReport_Dynamic_KPI")' == 'true') {
			menuArr.push({"name":"可视化报表","href":"/ChartReport_Dynamic_KPI.htm?excelname=可视化报表(调整申报量/初始申报量)"});
		}

		if('$permissionHelper.isVisible("Eba_DayCheck_BillManage_BaoLi")' == 'true') {
			menuArr.push({"name":"票据经纪（保理）","href":"/Eba_DayCheck_BillManage_BaoLi.htm?excelname=票据经纪（保理）"});
		}
		if('$permissionHelper.isVisible("Eba_DayCheck_BillManage")' == 'true') {
			menuArr.push({"name":"票据经纪","href":"/Eba_DayCheck_BillManage.htm?excelname=票据经纪"});
		}
		generalTabAndMenuList(menuArr);
  	</script>
  </body>
</html>
